.card {
    display: flex;
    flex-wrap: wrap;
    /* border: solid 2px var(--colorFG); */
    border-radius: 10px;
    width: 100%;
    height: max-content;
    text-align: left;
    background: var(--colorBG-light);
    overflow: hidden;
    word-wrap: break-word;
}

.thumbnail {
    width: 20%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    width: 80%;
    box-sizing: border-box;
}

.title {
    margin: 0;
    margin-bottom: 1em;
}

.url {
  text-decoration: none;
  color: aqua;
}

.link {
    text-decoration: none;
    width: 100%;
    color: inherit;
    margin: 1em 0;
}

@media only screen and (max-width: 800px) {
    .thumbnail {
        width: 100%;
        min-height: 170px;
    }

    .text {
        width: 100%;
        padding: 1.5em 1em;
    }

    .title {
        font-size: 1.1em;
    }
}
